services:
  - type: web
    name: backend
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "daphne config.asgi:application --port $PORT --bind 0.0.0.0"
    envVars:
      PYTHON_VERSION: 3.11
